
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

html {
    font-size: 16px;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@media (min-width: 550px) {
   .container {
    max-width: 1440px;
   }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--light-gray);
    font-family: 'Outfit', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    padding: 1rem;
    border-radius: 1.5rem;
    background-color: var(--white);
    max-width: 375px;
    text-align: center;
}

img {
    display: block;
    border-radius: 1rem;
    object-fit: cover;
    max-width: 270px;
    max-height: 430px;
}

.wrapper {
    width: 271px;
}

.image-box {
    color: var(--dark-blue);
    font-weight: 700;
    padding-bottom: 1.5rem;
} 

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 2rem;
    width: 276px;
}

.description p {
    font-size: 15px;
    font-weight: 400;
    color: var(--grayish-blue);
}

.description h1 {
     color: var(--dark-blue);
     font-size: 21px;
}
